.hero {
    /* background-color: black; */
}
.navigation-btn-div {
    border: 1px solid red;
    
    /* margin-left: 200px; */
}

.increase-gap {
    gap: 50%;
}
.blog-link{
    text-decoration: none;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
    color: black;
}
.small-screen-menu{
    background-color: white;
box-shadow: 5px 5px 5px whitesmoke;
    position: fixed;
    top: 10;
    width: 50%;
    transition: 1s ease-in-out;
    z-index: 3;
  }
  .small-screen-menu ul{
    list-style-type: none;
    padding-top: 20px;
    padding-left: 10px;
   
  }
  .menu-link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-size: 400;

  }
  .menu-link:hover{
    color: #C92E81;
    cursor: pointer;
  }

  .small-screen-menu .visible {
    left: 0;
  }
.hero{
    background-color: white;
    box-shadow: 5px 5px 10px whitesmoke;
    /* border: 1px solid red; */
   
}

.hero .hero-wrap {
    height: 36px;
    
}

.hero .hero-wrap div {
    width: 20%;
}

.hero .hero-wrap .shop .shop-text {
    /* font-family: var(--pBold); */
}

.hero .hero-wrap .shop .search .search-icon {
    font-size: 15px;
}

.hero .hero-wrap .hero-title {

}

.hero .hero-wrap .menu {

}

.hero .hero-wrap .menu .blog-link {}

.hero .hero-wrap .menu .menu-icon {}