@font-face {
    font-family: pop-bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: pop-med;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: pop-reg;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* typography */
    --pBold: pop-bold;
    --pMed: pop-med;
    --pReg: pop-reg;

    /* paint */
    --dark: black;

    /* font sizes */
    --s-36: 36px;
    --s-28: 28px;
    --s-24: 24px;
    --s-20: 20px;
    --s-16: 16px;
    --s-14: 14px;
    --s-12: 12px;

    /* font weight */
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: yellow; */
}


/* font family and sizest */
.ts-36 {
    font-family: var(--pMed);
    font-size: var(--s-36);
}

.ts-28 {
    font-family: var(--pMed);
    font-size:  var(--s-28);
}

.ts-24 {
    font-family: var(--pMed);
    font-size: var(--s-24);
}

.ts-20 {
    font-family: var(--pReg);
    font-size: var(--s-20);
}

.ts-16 {
    font-family: var(--pReg);
    font-size: var(--s-16);
}

.ts-14 {
    font-family: var(--pReg);
    font-size: var(--s-14);
}

.ts-12 {
    font-family: var(--pReg);
    font-size: var(--s-12);
}

/* font weight */
.tw-700 {
    font-weight: 700;
}

.tw-600 {
    font-weight: 600;
}

.tw-500 {
    font-weight: 500;
}

.tw-300 {
    font-weight: 300;
}

.tw-400 {
    font-weight: 400;
}

.tw-275 {
    font-weight: 275;
}

.tw-500 {
    font-weight: 500;
}

@media  screen and (max-width: 600px) {
    .ts-36, 
    .ts-28 {
        font-size: var(--s-20);
    }
    .ts-24 {
        font-size: var(--s-16);
    }
    .ts-20 {
        font-size: var(--s-14);
    }
}