.product-page {
    .wrap {
        .product-display {
            .title {
                // color: red;
            }
            .filter {
                .dropdown,
                .search-form {
                    max-width: 153px;
                    width: 25%;
                    height: 36px;
                }
                .search-form {
                    .user-input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                    }
                    .submit-icon {
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}